@page "/admin"

@attribute [Authorize(Roles = "Admin")]
@inject NavigationManager Navigation

<h3>Admin</h3>

@* display projects table, mention route change in doc? *@

@code {
    protected override void OnInitialized()
    {
        // Redirect to admin/projects - this will be slower

        // redirect to ProjectBoard

        Navigation.NavigateTo("/projects");
    }
}
