@page "/admin"

@attribute [Authorize(Roles = "Admin")]

<h3>Admin Index</h3>

@* display projects table, mention route change in doc? *@
<p>Display Projects table here?</p>

@code {
    // Redirect to admin/projects - this will be slower
}
 