<AuthorizeView>
    <Authorized>
        <NavLink class="nav-link" href="project-board">Project Board</NavLink>

    </Authorized>
</AuthorizeView>

<!--show Admin Panel button only if an Admin user logs in -->
<AuthorizeView Roles="Admin">
    <Authorized>
        <NavLink class="nav-link" href="projects">Admin Panel</NavLink>
    </Authorized>
</AuthorizeView>

<AuthorizeView>
    <Authorized>
        <NavLink class="nav-link" href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</NavLink>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>

    <NotAuthorized>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

<!--show Register button only if an Admin user logs in -->
@*<AuthorizeView Roles="Admin">
    <Authorized>
        <a href="Identity/Account/Register">Register</a>
    </Authorized>
</AuthorizeView>*@
