<p>RemovableDisc - @DiscName</p>

@*Have a function in the parent component that can be called with the Id, to delete an element from the list*@

@code {
    [Parameter]
    public String DiscName { get; set; }

    [Parameter]
    public String DiscId { get; set; }
}
