@page "/reports/projects/"

@attribute [Authorize(Roles = "Admin")]

@* Check how this differs from ProjectBoardByProjectCode *@

<h3>Report on Project: @ProjectCode</h3>

<p>@*View completed Tickets & Progress? - have this in ProjectBoardByProjectCode*@</p>

@*Extra: Have a pie chart to show the progress of projects completed and remaining? - this can be shown in the index page itself*@ 

@code {
    [Parameter]
    public String ProjectCode { get; set; }

}
