@page "/"

@inject NavigationManager Navigation


<h2>@greetingtxt!</h2>

<h5>Welcome to Project Management!</h5>

<hr />

<AuthorizeView>
    <Authorized>
        <div><p>Click <a href="/project-board">here</a> to view the Project Board.</p></div>
    </Authorized>
    <NotAuthorized>
        <div><p class="text-black-50"><em>If you are unable to access all functionalities of the project-board, please contact an admin of the system, requesting an account to login to the Project Management System with a relevant user-role.</em></p></div>
    </NotAuthorized>
</AuthorizeView>

@code {
    private String greetingtxt;

    protected override void OnInitialized()
    {
        if (DateTime.Now.Hour < 12)
        {
            greetingtxt = "Good Morning";
        }
        else if (DateTime.Now.Hour < 17)
        {
            greetingtxt = "Good Afternoon";
        }
        else
        {
            greetingtxt = "Good Evening";
        }

        // redirect to ProjectBoard
        //Navigation.NavigateTo("/project-board");
    }
}

