@page "/"

@attribute [Authorize]
@inject NavigationManager Navigation


<h2>@greetingtxt!</h2>

<h5>Welcome to Project Management!</h5>

<hr />
<div><p>Click <a href="/project-board">here</a> to view the Project Board.</p></div>

@code {
    private String greetingtxt;

    protected override void OnInitialized()
    {
        if (DateTime.Now.Hour < 12)
        {
            greetingtxt = "Good Morning";
        }
        else if (DateTime.Now.Hour < 17)
        {
            greetingtxt = "Good Afternoon";
        }
        else
        {
            greetingtxt = "Good Evening";
        }

        // redirect to ProjectBoard
        //Navigation.NavigateTo("/project-board");
    }
}

