@page "/project-board"

@using ProjectManagementSystem.Data
@inject TicketService TicketService

@* TODO: try to load tickets only if logged in (authorized) *@

@if (tickets == null)
{
    <p><em>Loading Tickets in Project Board</em></p>
}
else
{
    <TicketsTable Tickets="tickets" />
}

@code{
    List<Ticket> tickets;

    //protected override async Task OnInitializedAsync()
    //{

    //    // tickets = await TicketService.GetTicketsAsync();
    //}
}