@page "/project-board"

@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ProjectManagementSystem.Data
@using ProjectManagementSystem.Controllers
@inject TicketService TicketService

@* TODO: try to load tickets only if logged in (authorized) *@

@if (tickets == null)
{
    <p><em>Loading Tickets in Project Board</em></p>
}
else
{
    <TicketsTable Tickets="tickets" />

    @* add ticket button *@
    <p>
        <a class="btn btn-primary" href="/tickets/create"><span class="oi oi-plus" aria-hidden="true">Create Ticket</span></a>
    </p>
}

@code{
    List<Ticket> tickets;

    protected override async Task OnInitializedAsync()
    {

        TicketController TicketController = new TicketController(TicketService);
        tickets = await Task.Run(() => TicketController.GetAllTicketsAsync());
    }
}