@page "/project-board/{ProjectCode:guid}"

@* TODO: display tickets under a selected project *@
<h3>ProjectBoardByProjectId</h3>

@code {


    //    OnInitializeAsync{
    //call service -> LINQ query tickets by projectCode     
    //}
}
