@page "/project-board/{ProjectCode}"

@*isn't this the same as ProjectDetails?*@

@* TODO: display tickets under a selected project *@
<h3>ProjectBoardByProjectId</h3>

@code {
    [Parameter]
    public String ProjectCode { get; set; }

    //    OnInitializeAsync{
    //call service -> LINQ query tickets by projectCode     
    //}
}
