@page "/companies/edit/{Id:guid}"

@attribute [Authorize(Roles = "Admin")]

<h3>Edit Company</h3>

@code {
    [Parameter]
    public Guid Id { get; set; }

    public Company company { get; set; }
    public String displayMessage = "Loading Company Details";

}
