@page "/companies"

@attribute [Authorize(Roles = "Admin")]
@inject CompanyService CompanyService

@if (companies == null)
{
    <p><em>Loading Companies</em></p>
}
else
{
    <h3>Users</h3>

    <CompaniesTable Companies="companies" />

    @* TODO: Reposition button *@
    <p>
        <a class="btn btn-primary" href="/companies/create"><span class="oi oi-plus" aria-hidden="true"></span> Create Company</a>
    </p>
}

@code {
    List<Company> companies;

    protected override async Task OnInitializedAsync()
    {
        companies = await Task.Run(() => CompanyService.GetAllCompaniesAsync());
    }
}
