@using ProjectManagementSystem.Data

@inject NavigationManager Navigation

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-light">
            @* TODO: add table sort *@
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var company in Companies)
            {
                <tr>
                    <td>
                        @* TODO: remove link styling from all tables with links *@
                        <a href="/companies/@company.Id">@company.Id</a>
                    </td>
                    <td>
                        <a href="/companies/@company.Id">
                            @company.Name
                        </a>
                    </td>

                    <td>
                        @* TODO: style add padding *@
                        <a class="" href="companies/edit/@company.Id">
                            <span class="oi oi-pencil" aria-hidden="true"></span>
                        </a>
                        <a class="" href="companies/delete/@company.Id">
                            <span class="oi oi-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@code {
    [Parameter]
    public List<Company> Companies { get; set; }
}
