@* TODO: create a common layout for all tables and embed this in that - similar to MainLayout - check the possibility *@


@* TODO: add table filter *@

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-light">
            @* TODO: add table sort *@
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>State</th>
                <th>Assignee</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in Tickets)
            {
            <tr>
                <td>@ticket.Id</td>
                <td>@ticket.Description</td>
                <td>@ticket.Status</td>
                <td>
                    @* HACK: display multiple assignees here? *@
                    @foreach (var user in ticket.Users)
                    {
                        @user.FirstName
                    }
                </td>

                <td>
                    <a class="" href="tickets/edit/@ticket.Id">
                        <span class="oi oi-pencil" aria-hidden="true"></span>
                    </a>
                    <a class="" href="tickets/details/@ticket.Id">
                        <span class="oi oi-document" aria-hidden="true"></span>
                    </a>
                    <a class="text-danger" href="tickets/delete/@ticket.Id">
                        <span class="oi oi-trash" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public List<Ticket> Tickets { get; set; }
}
