@using ProjectManagementSystem.Data

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-light">
            @* TODO: add table sort *@
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Username</th>
                <th>User Role</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>
                       @user.FirstName @user.LastName
                    </td>
                    <td>
                    <a href="/users/@user.Id">@user.UserName</a>
                    </td>
                    <td>
                        @* TODO: think of a way to query this from the DB - using LINQ JOIN *@
                        @*@user.UserRole*@
                    </td>


                    <td>
                        @* TODO: style add padding *@
                        <a class="" href="users/edit/@user.Id">
                            <span class="oi oi-pencil" aria-hidden="true"></span>
                        </a>
                        <a class="nav-link" href="users/details/@user.Id">
                            <span class="oi oi-document" aria-hidden="true"></span>
                        </a>
                        <a class="" href="users/delete/@user.Id">
                            <span class="oi oi-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@code {
    [Parameter]
    public List<ApplicationUser> Users { get; set; }
}
