@page "/users"

@attribute [Authorize(Roles = "Admin")]
@inject UserService UserService

<h3>Users</h3>
<hr />

@if (users == null || users.Count == 0)
{
    <p><em>@displayMessage</em></p>
}
else
{

    <UsersTable Users="users" />

    @* TODO: Reposition button *@
    // TODO: check if an admin is allowed to create users without registering? how to create a password? let new users reset their passwords after signing in.
    <p>
        <a class="btn btn-primary" href="/users/create"><span class="oi oi-plus" aria-hidden="true"></span> Create User</a>
    </p>
}

@* display all available users in the system - allow to change user role (redirect to edit screen for now) *@

@code {
    List<ApplicationUser> users;
    public String displayMessage = "Loading Users";

    protected override async Task OnInitializedAsync()
    {
        users = await Task.Run(() => UserService.GetAllUsersAsync());
        if (users.Count == 0)
        {
            displayMessage = "No Users Found";
        }
    }
}
