@page "/users"

@attribute [Authorize(Roles = "Admin")]
@inject UserService UserService

@if (users == null)
{
    <p><em>Loading Users</em></p>
}
else
{
    <h3>Users</h3>

    <UsersTable Users="users" />

    @* TODO: Reposition button *@
    // TODO: check if an admin is allowed to create users without registering? how to create a password?
    <p>
        <a class="btn btn-primary" href="/users/create"><span class="oi oi-plus" aria-hidden="true"></span> Create User</a>
    </p>
}

@* display all available users in the system - allow to change user role (redirect to edit screen for now) *@

@code {
    List<ApplicationUser> users;

    protected override async Task OnInitializedAsync()
    {
        users = await Task.Run(() => UserService.GetAllUsersAsync());
    }
}
